@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "Rubik", sans-serif;
  color: #000000;
  min-height: 100%;
  background-color: #ffffff;
  flex-direction: column;
  margin: 0 auto;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  font-weight: 400;
}

.page-header {
  background-color: #ffe17f;
  margin: 40px auto 5px;
  position: relative;
  width: 1160px;
}

.logo-link {
  position: absolute;
  top: -31px;
  width: 146px;
  height: 36px;
  left: 51px;
  padding: 10px;
  z-index: 1;
}

.search-form {
  display: flex;
  position: relative;
}

.search-input-wrapper {
  position: relative;
  z-index: 0;
}

.search-input {
  background-color: inherit;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  padding: 10px 10px 7px 46px;
  width: 359px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Rubik", sans-serif;
  min-height: 40px;
  height: 100%;
  position: relative;
  outline: none;
}

.search-input-wrapper::before {
  position: absolute;
  content: "";
  background: url("../image/search.svg") no-repeat center;
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
  left: 14px;
  display: block;
}

.search-input-wrapper::after {
  position: absolute;
  content: "";
  width: 359px;
  height: 40px;
  left: 0;
  z-index: -1;
}

.search-input-wrapper:focus-within::after {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.navigation {
  padding: 45px 35px 0 60px;
  position: relative;
}

.navigation-index::before {
  content: "";
  background-color: #ffe17f;
  width: 1160px;
  height: 255px;
  position: absolute;
  left: 0;
  z-index: -1;
}

.navigation-inner::before {
  content: "";
  background-color: #ffe17f;
  width: 1160px;
  height: 141px;
  position: absolute;
  left: 0;
  z-index: -1;
}

.navigation-button {
  background-color: inherit;
  border: 2px solid #000000;
  border-radius: 0 50px 50px 0;
  margin-left: -2px;
  min-width: 160px;
  max-width: 180px;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  padding: 8px;
  min-height: 40px;
  outline: none;
  position: relative;
}

.navigation-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation-button:focus::before {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.navigation-button:hover {
  background-color: #000000;
  color: #ffffff;
}

.navigation-button:active {
  color: rgb(255, 255, 255, 0.3);
  background-color: #000000;
}

.navigation-search {
  display: flex;
  margin-bottom: 30px;
}

.navigation-catalog-wriper {
  display: flex;
  align-items: flex-start;
}

.navigation-catalog-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 49px;
  width: auto;
  gap: 6px;
  flex-direction: column;
}

.navigation-catalog-list:last-child {
  padding-left: 10px;
}

.navigation-catalog-lists {
  display: flex;
  min-height: 159px;
  position: absolute;
  z-index: 1;
  width: 1160px;
  background-color: #ffe17f;
  left: -60px;
  padding: 6px 35px 21px 56px;
  box-sizing: border-box;
  visibility: hidden;
}

.navigation-catalog-item {
  margin: 0;
  padding: 0;
}

.navigation-catalog-link {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
  padding: 5px;
  cursor: pointer;
  box-sizing: border-box;
}

.navigation-catalog {
  margin-right: auto;
  position: relative;
}

.navigation-user-list {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
  padding-left: 41px;
  margin: 0;
  align-items: center;
  flex-grow: 1;
}

.navigation-user-link {
  color: #000000;
  text-decoration: none;
  padding: 5px 12px;
  display: inline-block;
  outline: none;
}

.navigation-user-link:hover,
.navigation-advantage-link:hover,
.navigation-catalog-link:hover,
.slider-button:hover,
.contacts-phone:hover,
.breadcrumbs-link:hover,
.sorting-select:hover,
.catalog-filter-item:hover {
  opacity: 0.6;
}

.navigation-user-link:active,
.navigation-advantage-link:active,
.navigation-catalog-link:active,
.slider-button:active,
.delivery-link:active,
.contacts-phone:active,
.breadcrumbs-link:active,
.sorting-select:active,
.catalog-filter-item:active,
.catalog-product-button:active {
  opacity: 0.3;
}

.user-item:focus::after,
.compare-item:focus::after,
.basket-item:focus::after,
.logout:focus::after {
  outline: 2px solid #af4fff;
}

.navigation-advantage-link:focus,
.navigation-catalog-link:focus,
.delivery-link:focus,
.contacts-phone:focus,
.slider-button:focus,
.mailing-button:focus,
.contacts-phone-footer:focus,
.htmlacademy-link:focus,
.social-footer-link:focus::after,
.breadcrumbs-link:focus,
.sorting-select:focus,
.catalog-filter-item:focus,
.catalog-product-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.navigation-user-item {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user-item:first-child {
  margin-right: auto;
}

.navigation-user-item.user-point {
  margin-right: 0;
}

.user-item::before {
  content: "";
  position: absolute;
  background: url("../image/human.svg") no-repeat center;
  left: -25px;
  top: -1px;
  width: 15px;
  height: 20px;
  display: block;
  padding: 10px;
}

.navigation-user-link::after {
  content: "";
  position: absolute;
  right: 0;
  height: 100%;
  left: -20px;
  top: 2px;
}

.logout.navigation-user-link::after {
  left: 0;
}

.compare-item {
  margin-right: 37px;
}

.compare-item::before {
  content: "";
  position: absolute;
  background: url("../image/compare.svg") no-repeat center;
  left: -22px;
  top: -1px;
  width: 15px;
  height: 20px;
  display: block;
  padding: 10px;
}

.compare-item::after {
  right: 37px;
}

.basket-item {
  margin-right: 13px;
}

.basket-item::before {
  content: "";
  position: absolute;
  background: url("../image/busket.svg") no-repeat center;
  left: -24px;
  top: -2px;
  width: 15px;
  height: 20px;
  display: block;
  padding: 10px;
}

.basket-item:focus-within + .popover-basket {
  display: block;
  visibility: visible;
}

.basket-item::after {
  content: "";
  position: absolute;
  right: 0;
  height: 100%;
  left: -33px;
  top: 2px;
}

.basket-quantity {
  position: absolute;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 2px 6px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 50%;
  left: -31px;
  top: 10px;
  max-width: 22px;
}

.popover-basket {
  width: 320px;
  min-height: 301px;
  position: absolute;
  background-color: #000000;
  color: #ffffff;
  right: -53px;
  top: 41px;
  z-index: 2;
}

.basket-product-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.popover-close {
  display: none;
  visibility: hidden;
}

.popover-basket::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 6px;
  background-image: url("../image/tooltip-arrow.svg");
  top: -6px;
  left: 48%;
}

.popover-basket-button {
  position: absolute;
  background-image: url("../image/popover-close.svg");
  width: 10px;
  height: 10px;
  top: 14px;
  right: 14px;
  padding: 10px;
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: center;
}

.basket-product {
  padding: 20px;
  position: relative;
  min-height: 45px;
}

.popover-basket-link:hover {
  opacity: 0.6;
}

.popover-basket-link:active {
  opacity: 0.3;
}

.popover-basket-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.popover-basket-link {
  display: flex;
}

.basket-img {
  width: 39px;
  display: inline-block;
  position: relative;
  padding-right: 23px;
}

.popover-basket-text {
  font-size: 16px;
  line-height: 20px;
  max-width: 200px;
  margin: 0;
  padding: 0;
}

.popover-footer-block {
  display: flex;
  min-height: 42px;
  background-color: #1a1a1a;
  padding: 0 10px;
  box-sizing: border-box;
  justify-content: space-between;
}

.sum-product,
.price-product {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 10px;
}

.basket-product + .basket-product::after {
  content: "";
  position: absolute;
  height: 1px;
  background: #ffffff;
  opacity: 0.1;
  top: -3px;
  left: 0;
  right: 0;
}

.popover-basket-open {
  height: 50px;
  background-color: #ffffff;
  color: #000000;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  margin: 20px;
  width: 280px;
  border: none;
  box-sizing: border-box;
  padding: 10px;
}

.popover-basket-open:hover {
  background: #ffe17f;
}

.popover-basket-open:active {
  background: #ffe17f;
  color: rgb(0, 0, 0, 0.3);
}

.popover-basket-open:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.navigation-catalog-button {
  font-family: "Raleway", sans-serif;
  border: none;
  background-color: inherit;
  padding: 16px 15px 14px 0;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  z-index: 2;
  outline: none;
  max-width: 260px;
}

.navigation-catalog-button::after {
  content: "";
  position: absolute;
  background: url("../image/minus.svg") no-repeat center;
  border: 2px solid #000000;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  right: -52px;
  top: 0;
  opacity: 0.3;
}

.navigation-catalog-button-close::after {
  background: url("../image/plus.svg") no-repeat center;
}

.navigation-catalog-button:active::after,
.navigation-catalog-button:hover::after {
  opacity: 1;
}

.navigation-catalog:focus-within > .navigation-catalog-button::after {
  background-image: url("../image/minus.svg");
}

.navigation-catalog:focus-within > .navigation-catalog-lists {
  visibility: visible;
}

.navigation-catalog-button-close::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  width: 297px;
  height: 54px;
}

.navigation-catalog-button-close:focus::before {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.navigation-advantage-list {
  display: flex;
  list-style: none;
  font-size: 18px;
  line-height: 21px;
  margin: 5px -16px 0 auto;
  padding: 0;
  width: 550px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.navigation-advantage-link {
  font-family: "Raleway", sans-serif;
  color: #000000;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  display: block;
  padding: 12px 9px;
}

.products-ad {
  margin: 0 auto;
  position: relative;
  width: 1160px;
  padding-bottom: 70px;
}

.main-index,
.main-catalog {
  position: relative;
  flex-grow: 1;
}

.slider-button {
  position: absolute;
  box-sizing: border-box;
  padding: 20px;
  border: none;
  width: 20px;
  height: 60px;
  top: 211px;
  z-index: 1;
}

.slider-button:hover {
  opacity: 0.6;
}

.slider-prev {
  background: url("../image/left-arrow.svg") no-repeat center;
  left: 20px;
}

.slider-next {
  background: url("../image/right-arrow.svg") no-repeat center;
  left: 530px;
}

.product-ad-item {
  display: flex;
  justify-content: space-between;
  visibility: hidden;
  counter-increment: cards;
  position: absolute;
  width: 1160px;
  min-height: 540px;
}

.product-ad-item-active {
  visibility: visible;
  position: static;
}

.product-ad-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: -21px;
  counter-reset: cards;
}

.product-ad-image {
  display: block;
  position: relative;
  object-fit: contain;
}

.product-ad-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
  position: relative;
}

.product-ad-title::before {
  content: "0" counter(cards);
  position: absolute;
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 180px;
  line-height: 30px;
  top: -40px;
  right: 48px;
  z-index: -1;
  display: block;
}

.about-product {
  padding-top: 122px;
  width: 560px;
}

.product-ad-text {
  padding: 0;
  margin: 0;
  margin-bottom: 51px;
}

.button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  padding: 11px 10px 9px 16px;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  border: none;
  z-index: 1;
}

.button::before {
  content: "";
  position: absolute;
  background: #ffe17f;
  right: 0;
  z-index: -1;
  height: 8px;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.button:hover::before,
.advantages-button:hover::before {
  bottom: 0;
  height: 100%;
}

.button:active::before,
.advantages-button:active::before {
  background-color: #ffcc33;
  bottom: 0;
  height: 100%;
}

.button:focus,
.advantages-button:focus {
  outline: 2px solid #af4fff;
}

.advantages-link-active:hover {
  color: rgba(255, 225, 127, 0.5);
}

.advantages-link-active:active {
  color: rgba(255, 225, 127, 0.3);
}

.advantages-link-active:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.product-ad-link {
  display: inline-block;
  margin-bottom: 48px;
  min-width: 220px;
}

.product-ad-property-slider {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-ad-property-list {
  margin: 0;
  padding: 0;
}

.self-stick {
  gap: 40px;
}

.product-ad-pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 360px;
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.product-ad-pagination-button {
  border: 2px solid #000000;
  background-color: #ffffff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.product-ad-pagination-button-active {
  background: #000000;
}

.product-ad-pagination-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.product-ad-property-bold {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 30px;
  padding-bottom: 11px;
  display: block;
}

.product-ad-property {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  display: block;
}

.main-category {
  margin: 0 auto;
  margin-bottom: 81px;
  width: 1160px;
}

.main-category-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.main-category-link::before {
  display: block;
  content: "";
  width: 160px;
  height: 160px;
  background: #ffe17f;
  margin-bottom: 33px;
  background-repeat: no-repeat;
  background-position: center;
}

.vr-link::before {
  background-image: url("../image/vr.svg");
}

.monopod-link::before {
  background-image: url("../image/monopod.svg");
}

.camera-link::before {
  background-image: url("../image/camera.svg");
}

.band-link::before {
  background-image: url("../image/band.svg");
}

.watch-link::before {
  background-image: url("../image/watch.svg");
}

.quadrocopter-link::before {
  background-image: url("../image/dron.svg");
}

.main-category-item {
  width: 160px;
}

.main-category-link:hover::before {
  background-color: #ffc700;
}

.main-category-link:focus {
  outline: none;
}

.main-category-item:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.main-wraper-advantages {
  position: relative;
  overflow: hidden;
  min-height: max-content;
  margin-bottom: 71px;
}

.main-wraper-advantages::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 89%;
  left: 0;
  top: 103px;
  background: #f0f0f0;
  z-index: -2;
}

.main-advantages {
  display: flex;
  width: 1160px;
  margin: 0 auto 72px;
  min-height: 320px;
}

.advantages-list-button {
  list-style: none;
  min-width: 280px;
  display: grid;
  gap: 35px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-top: 65px;
  padding-bottom: 20px;
  align-content: flex-start;
  position: relative;
  margin-right: 123px;
}

.advantages-list-button::after {
  content: "";
  position: absolute;
  right: -7px;
  top: 0;
  bottom: 0;
  background-color: #000000;
  width: 7px;
}

.advantages-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  max-width: 163px;
  min-width: 163px;
  background-color: inherit;
  position: relative;
  min-height: 40px;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.advantages-button::before {
  content: "";
  position: absolute;
  right: 3px;
  z-index: -1;
  height: 8px;
  background-color: #ffe17f;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.advantages-link {
  margin-top: 1px;
}

.advantages-link-active {
  background-color: #000000;
  color: #ffe17f;
  min-width: 280px;
  max-width: 280px;
  text-align: start;
  position: relative;
  margin-left: 0;
  padding-left: 17px;
  box-sizing: border-box;
}

.advantages-list {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-top: 75px;
}

.advantages-item {
  position: relative;
  visibility: hidden;
  display: none;
}

.advantages-item-active {
  display: block;
  visibility: visible;
}

.advantages-item::after {
  content: "";
  display: block;
}

.human-deliver::after {
  background: url("../image/human-deliver.svg") no-repeat;
  width: 136px;
  height: 164px;
  position: absolute;
  top: 3px;
  left: 559px;
  display: block;
}

.servis::after {
  background: url("../image/servis.svg") no-repeat;
  width: 171px;
  height: 195px;
  position: absolute;
  top: -13px;
  left: 559px;
  display: block;
}

.human-card::after {
  background: url("../image/human-card.svg") no-repeat;
  width: 171px;
  height: 195px;
  position: absolute;
  top: -10px;
  left: 574px;
  display: block;
}

.advantages-title {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 34px;
  max-width: 500px;
}

.advantages-text {
  margin: 0;
  padding: 0;
  max-width: 479px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.main-category-link {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  letter-spacing: -0.02em;
  display: block;
}

.delivery {
  margin: 0 auto;
  background-color: #f0f0f0;
  position: relative;
  margin-bottom: 72px;
  width: 1160px;
}

.delivery-link {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
  display: block;
  padding: 10px;
  position: relative;
  height: 100px;
  box-sizing: border-box;
  min-width: 820px;
  max-width: 1160px;
}

.delivery-link::before {
  content: "";
  position: absolute;
  width: 126px;
  height: 100px;
  background-color: #ffe17f;
  top: 0;
  left: 0;
  background-image: url("../image/deliver.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.delivery-link::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: rgba(220, 220, 220, 0.8);
  background-repeat: no-repeat;
  background-position: center;
  right: 32px;
  top: 20px;
  background-image: url("../image/info.svg");
  border-radius: 50%;
  display: block;
  margin: 10px;
  opacity: 0.3;
}

.delivery-link:hover::before {
  background-color: #ffc700;
}

.delivery-link:hover::after {
  background-color: rgba(220, 220, 220, 0.5);
}

.delivery-text {
  display: block;
  padding: 31px 145px 10px 150px;
}

.about-us-wrapper {
  margin: 0 auto;
  width: 1160px;
  box-sizing: border-box;
  padding-top: 45px;
  display: grid;
  gap: 108px;
  grid-template-columns: 520px 532px;
  padding-bottom: 69px;
}

.about-us-title,
.contacts-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  margin: 0;
  padding: 0;
  padding-bottom: 48px;
  position: relative;
}

.about-us-title::after,
.contacts-title::after {
  content: "";
  width: 84px;
  height: 8px;
  position: absolute;
  top: -48px;
  left: 0;
  background-color: #000000;
}

.about-us-text,
.contacts-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}

.about-us-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 19px;
  padding-bottom: 30px;
}

.about-us-item {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  padding-left: 37px;
  letter-spacing: -0.02em;
  position: relative;
}

.about-us-item::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  background: #ffc700;
  left: 3px;
  top: 5px;
  border-radius: 50%;
}

.about-us-link {
  padding: 10px 24px;
}

.contacts-subtitle {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #444444;
  padding-bottom: 15px;
}

.contacts-adress-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  padding: 0;
}

.contacts-phone {
  color: #444444;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.contacts-adress {
  padding-bottom: 30px;
}

.time-work-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}

.contacts-button {
  min-width: 259px;
}

.mailing {
  background-color: #f0f0f0;
  padding-top: 55px;
  padding-bottom: 51px;
}

.mailing-text-wrapper {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  gap: 222px;
  padding: 0 141px 122px 137px;
}

.mailing-title {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 10px;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  max-width: 350px;
  display: block;
}

.mailing-text {
  margin: 0;
  padding: 18px;
  color: #444444;
}

.mailing-form-wrapper {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.mailing-form {
  display: flex;
  align-items: flex-end;
}

.mailing-input {
  font-family: "Rubik", sans-serif;
  width: 560px;
  min-height: 56px;
  height: 100%;
  padding: 15px 10px 14px 16px;
  border: 0;
  box-sizing: border-box;
  color: #000000;
  font-size: 18px;
  line-height: 30px;
  background-color: inherit;
  border-bottom: 3px solid #c4c4c4;
  margin: 0;
}

.mailing-input::-webkit-input-placeholder {
  color: rgb(68, 68, 68, 0.5);
  opacity: 0.5;
}

.mailing-input:focus {
  background: #dcdcdc;
  outline: none;
}

.mailing-button {
  font-family: "Raleway", sans-serif;
  outline: 3px solid #c4c4c4;
  width: 250px;
  min-height: 52px;
  margin: 0;
  padding: 10px 4px 10px 10px;
  box-sizing: border-box;
  border: 0;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 2px;
  display: block;
  text-align: center;
}

.mailing-button:hover {
  background-color: #000000;
  color: #ffffff;
  outline: 3px solid #000000;
}

.mailing-button:active {
  color: rgb(255, 255, 255, 0.3);
  background-color: #000000;
  outline: 3px solid #000000;
}

.its-free {
  margin-left: auto;
  position: relative;
  padding-left: 70px;
}

.its-free::after {
  position: absolute;
  content: "";
  left: 39px;
  top: 29%;
  background-image: url("../image/tick.svg");
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
}

.page-footer {
  background-color: #444444;
  min-height: 321px;
}

.footer-wrapper {
  box-sizing: border-box;
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding-top: 52px;
  margin-bottom: 40px;
}

.footer-logo {
  padding: 11px;
  margin-bottom: 6px;
}

.footer-logo:hover,
.header-logo:hover {
  opacity: 0.6;
}

.footer-logo:active,
.header-logo:active {
  opacity: 0.3;
}

.footer-logo:focus,
.footer-logo:focus-visible,
.footer-logo-link:focus,
.logo-link:focus {
  outline: 2px solid #af4fff;
}

.footer-adress-text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 0;
  padding: 10px;
  width: 239px;
  font-style: normal;
}

.footer-adress-block {
  margin-right: 99px;
  margin-left: -10px;
  position: relative;
}

.footer-adress-block::after {
  content: "";
  position: absolute;
  bottom: 23px;
  left: 12px;
  height: 6px;
  width: 80px;
  background-color: #ffc700;
}

.footer-advantages {
  padding-top: 84px;
  padding-bottom: 55px;
}

.advantages-footer-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 12px;
  min-width: 470px;
  max-width: 550px;
}

.advantages-footer-wrappert {
  width: 445px;
}

.phone-block {
  padding-top: 77px;
  padding-left: 160px;
}

.footer-phone {
  padding-bottom: 38px;
}

.contacts-phone-footer {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 13px 10px;
  box-sizing: border-box;
  font-style: normal;
  display: inline-block;
  max-width: 200px;
}

.contacts-phone-footer:hover {
  color: #ffc700;
}

.contacts-phone-footer:active {
  color: #ffc700;
  opacity: 0.3;
}

.htmlacademy-link {
  display: inline-block;
  text-decoration: none;
  padding: 10px 10px 0 10px;
  margin-left: 60px;
}

.htmlacademy-link:hover .htmlacademy-image > path {
  fill: #ffffff;
}

.htmlacademy-link:active .htmlacademy-image {
  opacity: 0.3;
}

.advantages-footer-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  position: relative;
}

.advantages-footer-link:hover {
  color: #ffc700;
  border-bottom: 2px solid #ffc700;
}

.advantages-footer-link:active {
  opacity: 0.3;
}

.advantages-footer-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.social-footer-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.social-footer-link {
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  position: relative;
  outline: none;
}

.social-footer-link::after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
}

.social-footer-link:hover {
  background-color: #ffc700;
}

.social-footer-link:active .footer-social-svg {
  opacity: 0.3;
}

.footer-social-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #444444;
}

.main-header {
  margin: 0 auto;
  width: 1160px;
  padding: 50px 60px 28px;
  box-sizing: border-box;
}

.main-title {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  padding-bottom: 12px;
}

.breadcrumbs {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 37px;
  flex-wrap: wrap;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  line-height: 19px;
  position: relative;
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item + .breadcrumbs-item::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 7px;
  background-image: url("../image/breadcrums.svg");
  background-repeat: no-repeat;
  top: 50%;
  left: -16px;
  transform: translate(-50%, -50%);
}

.catalog-contenier {
  background-color: #f0f0f0;
}

.catalog-filter-wrapper {
  width: 320px;
  padding: 27px 40px 10px 60px;
  box-sizing: border-box;
}

.catalog-sorting {
  display: flex;
  box-sizing: border-box;
  padding: 20px 40px;
  justify-content: space-between;
}

.sorting-title {
  font-family: "Raleway", sans-serif;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin: auto 0;
  position: relative;
}

.class-title {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding-bottom: 60px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
  padding-bottom: 35px;
  position: relative;
  width: 200px;
}

.catalog-filter-title::before {
  position: absolute;
  content: "";
  height: 2px;
  background-color: #000000;
  width: 100%;
  top: -4px;
}

.catalog-product-wrapper {
  width: 840px;
}

.catalog-filter-title {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  padding: 12px 10px 20px 0;
  box-sizing: border-box;
  font-weight: 700;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.range-wrapper-inputs {
  line-height: 26px;
  position: relative;
  display: flex;
  left: -15px;
  justify-content: space-between;
  width: 200px;
  font-size: 15px;
}

.catalog-range-label {
  font-size: 15px;
  line-height: 18px;
  position: relative;
  color: rgb(0, 0, 0, 0.3);
  outline: none;
}

.catalog-range-label:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.catalog-filter-item {
  font-size: 16px;
  line-height: 20px;
  padding-left: 36px;
}

.catalog-filter-button {
  width: 100%;
  background-color: inherit;
}

.catalog-filter-item + .catalog-filter-item {
  padding-top: 17px;
}

.catalog-filter-item + .filter-radio {
  padding-top: 20px;
}

.range-input,
.range-input:hover,
.range-input:focus {
  background-color: inherit;
  border: none;
  width: 40px;
  appearance: none;
  color: rgb(0, 0, 0, 0.3);
  outline: none;
}

.range-input[type="number"]::-webkit-outer-spin-button,
.range-input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.range-input[type="number"] {
  -moz-appearance: textfield;
}

.range {
  position: relative;
  padding-top: 8px;
}

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 15px;
  background-color: #dcdcdc;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
  left: 0;
  width: 119px;
}

.range-toggle {
  position: absolute;
  border: 2px solid #000000;
  background: #ebebeb;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  top: -8px;
  z-index: 1;
}

.range-toggle:hover {
  border-color: rgb(0, 0, 0, 0.5);
}

.range-toggle:active {
  background: #000000;
}

.range-toggle:focus::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.range-min {
  left: -9px;
}

.range-max {
  right: -9px;
}

.sorting-select {
  font-size: 18px;
  line-height: 30px;
  font-family: "Rubik", sans-serif;
  background-color: inherit;
  border: none;
  margin: auto 202px auto auto;
  display: block;
  min-width: 145px;
  max-width: 220px;
  appearance: none;
}

.sorting-title::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: url("../image/select-arrow.svg") no-repeat center;
  right: -344px;
  top: -5px;
}

.sorting-arrow-button {
  display: block;
  background-image: url("../image/sorting-top.svg");
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
}

.sorting-arrow-button:hover {
  opacity: 0.5;
}

.sorting-arrow-button:active {
  opacity: 1;
}

.sorting-arrow-button:focus {
  outline: 2px solid #af4fff;
  opacity: 1;
}

.button-down {
  transform: rotate(180deg);
}

.catalog-product-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 44px;
  margin: 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
}

.catalog-product-item {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.catalog-product-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 2;
  width: 360px;
  height: 380px;
  background: rgba(240, 240, 240, 0.8);
}

.catalog-product-item:hover::after {
  display: block;
}

.catalog-product-item:active > .button::before {
  background: #ffc700;
}

.catalog-product-item:focus-within {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.catalog-product-link:focus {
  outline: none;
}

.product-card-button {
  top: 170px;
  left: 70px;
  z-index: 3;
  position: absolute;
  width: 210px;
  display: none;
}

.catalog-product-item:hover > .product-card-button {
  display: block;
}

.catalog-product-item:hover > .catalog-product-link {
  opacity: 0.6;
}

.new-item::before {
  content: "";
  position: absolute;
  display: block;
  right: 27px;
  top: 27px;
  width: 60px;
  height: 60px;
  background-image: url("../image/new.svg");
  background-repeat: no-repeat;
  z-index: 1;
}

.catalog-product-image {
  display: block;
  padding-bottom: 32px;
}

.sortting-wrapper {
  width: 1160px;
  display: flex;
  margin: 0 auto;
}

.catalog {
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 70px 40px 78px 40px;
  display: flex;
  flex-direction: column;
  row-gap: 44px;
}

.catalog-product-link {
  width: 360px;
  text-decoration: none;
  color: #000000;
  display: block;
}

.product-card-wrapper {
  display: flex;
  justify-content: space-between;
  letter-spacing: -0.02em;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.catalog-product-title {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: #000000;
  padding-right: 15px;
  max-width: 280px;
  font-weight: 700;
}

.catalog-product-button {
  width: 100%;
  border: 3px solid #e5e5e5;
  min-height: 55px;
  background-color: inherit;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding: 10px 4px 10px 10px;
}

.catalog-product-button:hover {
  border: 3px solid #000000;
}

.catalog-product-pagination {
  margin: 0;
  padding: 0;
  display: flex;
  background: #ebebeb;
  list-style: none;
  align-items: center;
  min-height: 72px;
}

.catalog-product-pagination-item:last-child {
  margin-left: auto;
  min-width: 141px;
  min-height: 71px;
}

.catalog-product-pagination-item:first-child {
  margin-right: auto;
  min-width: 128px;
  min-height: 71px;
}

.catalog-product-pagination-link {
  text-decoration: none;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  padding: 27px 4px 10px 10px;
  display: block;
  text-align: center;
  min-height: 71px;
  box-sizing: border-box;
}

.catalog-product-pagination-link:hover {
  background: #dcdcdc;
}

.catalog-product-pagination-link:active {
  color: rgba(0, 0, 0, 0.3);
  background: #dcdcdc;
}

.catalog-product-pagination-link:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.pagination-page-number {
  min-width: 40px;
  min-height: 40px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: rgb(68, 68, 68, 0.3);
  box-sizing: border-box;
  padding-top: 7px;
}

.pagination-page-number:hover {
  color: rgb(68, 68, 68, 1);
}

.pagination-page-number:active {
  color: rgb(68, 68, 68, 0.1);
}

.pagination-page-number:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.pagination-page-number-current,
.pagination-page-number-current:hover,
.pagination-page-number-current:focus,
.pagination-page-number-current:active {
  cursor: default;
  outline: none;
  color: rgb(68, 68, 68, 0.1);
}

.logout-item {
  margin-right: auto;
}

.logout {
  color: rgba(0, 0, 0, 0.3);
}

.control-mark {
  background: inherit;
  border-radius: 3px;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  box-sizing: border-box;
  border: 2px solid #cccccc;
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  background-image: url("../image/check.svg");
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  box-sizing: border-box;
}

.control-input[type="checkbox"]:checked + .control-mark {
  border-color: #000000;
}

.control-input:focus + .control-mark-radio::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline-offset: 2px;
  outline: 2px solid #af4fff;
}

.control-mark-radio {
  border: 2px solid #cccccc;
  background: inherit;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  box-sizing: border-box;
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark-radio::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  width: 8px;
  height: 8px;
  box-sizing: border-box;
  background-color: #000000;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark-radio {
  border: 2px solid #000000;
}

.control-input:focus + .control-mark::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.modal-container {
  position: fixed;
  display: grid;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(240, 240, 240, 0.9);
}

.modal-contanier-close {
  display: none;
}

.modal {
  position: relative;
  width: 920px;
  min-height: 568px;
  border: 10px solid #000000;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1);
  padding: 63px 70px;
  background-color: #ffffff;
  margin: auto;
  box-sizing: border-box;
}

.modal-form {
  display: grid;
  gap: 42px;
}

.modal-button {
  max-width: max-content;
  background-color: inherit;
  line-height: 20px;
  min-width: 200px;
}

.modal-close-button {
  position: absolute;
  right: 70px;
  top: 75px;
  background: url("../image/close-modal.svg");
  border: 0;
  margin: 0;
  padding: 0;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.modal-close-button:hover {
  opacity: 0.6;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-close-button:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
}

.modal-title {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
}

.modal-stock {
  display: flex;
  gap: 40px;
}

.modal-label {
  position: relative;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  margin: 0;
  padding: 0 0 14px 0;
}

.modal-qualiti-label {
  position: relative;
}

.tooltip-toggle {
  width: 26px;
  height: 26px;
  background: #ffe17f;
  position: absolute;
  border-radius: 50%;
  right: 34px;
  top: -4px;
  border: 0;
  cursor: pointer;
}

.tooltip:hover > .tooltip-text,
.tooltip:focus-visible > .tooltip-text {
  display: block;
  visibility: visible;
}

.tooltip-text {
  width: 200px;
  min-height: 160px;
  position: absolute;
  background-color: #000000;
  color: #ffffff;
  z-index: 1;
  padding: 17px 19px 0 19px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  top: 32px;
  left: -14px;
  display: none;
  visibility: hidden;
}

.tooltip-text::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 6px;
  background-image: url("../image/tooltip-arrow.svg");
  top: -6px;
  left: 147px;
  transform: translate(-50%, 0);
}

.button-modal-mail {
  position: absolute;
  top: 43px;
  right: 8px;
  width: 15px;
  height: 12px;
  background: url("../image/mail.svg") no-repeat center;
  margin: 0;
  border: 0;
  opacity: 0.3;
  padding: 20px;
}

.button-modal-name {
  position: absolute;
  top: 43px;
  right: 8px;
  width: 15px;
  height: 12px;
  background: url("../image/human.svg") no-repeat center;
  margin: 0;
  padding: 20px;
  border: 0;
  opacity: 0.3;
}

.modal-input-data {
  width: 360px;
}

.modal-stock-two {
  display: flex;
  gap: 40px;
}

.modal-user {
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal-input {
  background: #f0f0f0;
  height: 60px;
  padding: 20px;
  padding-right: 50px;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  border: none;
}

.modal-input::-webkit-input-placeholder {
  color: rgb(0, 0, 0, 0.3);
}

.modal-input:-moz-placeholder {
  /*Firefox 18-*/
  color: rgb(0, 0, 0, 0.3);
}

.modal-input::-moz-placeholder {
  /*Firefox 19+*/
  color: rgb(0, 0, 0, 0.3);
}

.modal-input:-ms-input-placeholder {
  color: rgb(0, 0, 0, 0.3);
}

.modal-input:hover,
.modal-button-quantiti:hover {
  background-color: #dcdcdc;
}

.modal-input:focus,
.modal-button-quantiti:focus {
  outline: 2px solid #af4fff;
  outline-offset: 2px;
  z-index: 1;
}

.modal-input-deliver {
  width: 540px;
}

.modal-input-quantiti {
  height: 60px;
  border: 0;
  padding: 0;
  margin: 0;
  color: #000000;
  align-items: center;
  text-align: center;
  width: 180px;
  grid-area: 1 / 1 / 2 / 4;
}

.modal-input-quantiti::-webkit-input-placeholder {
  color: #000000;
}

.modal-input-quantiti::-webkit-outer-spin-button,
.modal-input-quantiti::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.modal-quantiti-group {
  display: grid;
  grid-template-columns: 60px 60px 60px;
}

.modal-button-quantiti {
  z-index: 2;
  margin: 0;
  border: 0;
  padding: 30px;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  background: var(--icon) no-repeat center;
  place-self: center;
  cursor: pointer;
}

.quantiti-plus {
  --icon: url("../image/plus.svg");
  grid-area: 1 / 3 / 2 / 4;
}

.quantiti-minus {
  --icon: url("../image/minus.svg");
  grid-area: 1 / 1 / 2 / 2;
}

.under-modal-input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.error {
  border: 2px solid #ff0000;
}

.modal-input.error ~ .under-modal-input {
  color: #ff0000;
}

.mailing-input.error {
  border: none;
  border-bottom: 3px solid #ff0000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
